/* MAIN SETTING */
/* =====================================*/
html { 
/*  background: url('/assets/bg.jpg') no-repeat center center fixed; 
  background: linear-gradient(141deg, #383838 0%, #D8D8D8 51%, #383838 75%);
  background-color: #F0F0F0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;*/
  background-size: cover;
  background: url('/assets/shl.png'); 
  background-repeat: repeat;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

a {
  color: black;
  text-decoration: none !important;
}

.main_container{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width: 85%;
	height: 80%; 
	background-color: white;
	display: inline-flex;
	box-shadow: 0px 0px 90px #808080;
	border-radius: 20px;
}

.leftbox{
	width: 70%;
	height: 100%;
}

.rightbox{
	width: 40%;
	height: 100%;
	background-color: #202020;
	overflow: hidden;
	position: relative;
	border-radius: 0 20px 20px 0;
}

cy-about,
cy-portfolio,
cy-resume,
cy-contact{
	display: inline-flex;
	width: 100%;
	height: 100%;
}

/* SUBPAGE SETUP */
/* =====================================*/
.expanding{
	width:78% !important;
}

.cancel{
	width: 25px;
	height: 25px;
	margin:15px;
	position: fixed;
}

.leftbox.subpage{
	margin-left: 3%;
	width:16%;
	text-align: right;
	/*border: 1px dashed red;*/
}

.subtitle{
	font-size: 35px;
	font-weight: 800;
	margin-top:50%;
}

.leftbox li{
	list-style-type:none;
	cursor: pointer;
	font-size: 20px;
	margin-bottom: 5px;
}

.rightbox.subpage{
	position:absolute;
	width:30%;
	right:0;
	transition: width 1s ease-in-out;
	color:white;
}
 
.subcontent{
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	overflow: scroll;
	/*text-align: center;*/
	/*border:1px dashed white;*/
}

.subcontent h2{
	text-align: center;
	font-weight: 300;
}



/* INDEX PAGE */
/* =====================================*/

.main_container
.rightbox
.cover{
	height: 100%;
  position: absolute;
  top: 0;
  left: -150px;
}

.indexpage{
	margin-left: 8%;
}

nav{
	width: auto;
	margin-top:8%;
}

nav 
li{
	display: inline;
	margin-right:15px;
	color:black;
	text-decoration-color: black;
	font-weight: 600;
	font-size:16px; 
	vertical-align: middle;
}

li 
a:hover{
	color:#FFCC00;
	/*border-bottom: 2px solid #FFCC00;*/
}

#logo{
	font-weight: 600;
	font-size: 20px;
	background-color: black;
	color:white;
	padding:10px;
	border-radius: 25px;
}

.title{
	/*margin-left: 10%;*/
	font-weight: 800;
	font-size: 40px;
	padding: 0;
}

.title p span{
	color:#FFCC00;
}

.latest{
	font-weight: 600;
	position: relative;
	bottom: 5%;
	display: inline-flex;
	width: 90%;
	/*height: 150px;*/
}

.latest
.showcase{
	/*height:120;*/
	width:70%;
	margin-left:30px; 
	/*border: 1px solid black;*/
	align-items: center;
	overflow: hidden;
	text-align: center;
}

.showcase img{
	width: auto;
	height: 200px;
	vertical-align: middle;

	-moz-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
	transition: all 1.2s ease;
}

.showcase img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}




/* PROFOLIO PAGE */
/* =====================================*/
.codepenContent,
.latestContent,
.mockupContent{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content:center;
}
.showbox{
	margin: 10px;
}

.codepen{
	height: 220px;
	width: 350px;
	position: center;
}

.showbox div{
	margin-left: 20px;
}

.description p{
	font-weight: 200;
	font-size: 12px;
}

.yellow{
	color:#FFCC00;
}

#latest_cover{
	width: auto;
	height: 300px;
	margin-left: 50%;
	transform: translateX(-50%);
	/*border: 2px solid green;*/
}



/* RESUME */
/* =====================================*/

.subcontent iframe{
	width:100%;
	height: 520px;
	margin-top: 60px;
	overflow: hidden;
}

















