<div class="leftbox subpage">
	<p class="subtitle animated fadeInDown">ABOUT</p>
	<li>text</li>
	<li>text</li>
</div>

<div class="rightbox subpage" ng-class="{expanding:vm.expand}">
	<img ng-click="vm.exit()" class="cancel" src="/assets/cancel.png">
	<div class="subcontent">
		<h1>No A Typical Developer</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam autem nemo maxime exercitationem eligendi dolor ipsam voluptatem cumque earum, repellendus, quaerat, voluptas minus corrupti sint incidunt ratione temporibus magni eius?</p>
		
		<h2>In the past...</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero officiis voluptate aspernatur corporis vitae, fugiat ad, facere recusandae voluptatum temporibus nisi sequi pariatur exercitationem odit, molestiae aliquam modi itaque atque.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor maxime iusto eaque quaerat, sequi soluta ducimus error numquam dignissimos aperiam, assumenda voluptates deleniti atque voluptate dolores, repellat quos ex reiciendis!</p>

		<h2>Now...</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium veniam sit recusandae soluta, ducimus adipisci, dignissimos accusamus quisquam iste odit totam quaerat consectetur incidunt animi itaque quis atque quo. Nihil.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium veniam sit recusandae soluta, ducimus adipisci, dignissimos accusamus quisquam iste odit totam quaerat consectetur incidunt animi itaque quis atque quo. Nihil.</p>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium veniam sit recusandae soluta, ducimus adipisci, dignissimos accusamus quisquam iste odit totam quaerat consectetur incidunt animi itaque quis atque quo. Nihil.</p>


	</div>
	

</div>
