<div class="main_container animated fadeIn">
	<div class="leftbox indexpage">
		<nav id="test">
			<li id="logo">CY</li>
			<li><a href="/about">ABOUT</a></li>
			<li><a href="/portfolio">PORTFOLIO</a></li>
			<li><a href="/resume">RESUME</a></li>
			<li><a href="/contact">CONTACT</a></li>
		</nav>
		<div class="title">
			<p>HI, I'M CHARLIE<br>
			FRONT-END DEVELOPER<br>
			WITH EXPERIENCE IN <br>
			<span>{{vm.type}}</span>&nbsp;
			</p>
		</div>
		<div class="latest">
			<div>
				<p>LATEST PROJECT</p>
			</div>
			<div class="showcase">
				<a href="/portfolio"><img src="./assets/coolrelation.png"></a>
			</div>
		</div>
	</div>
	<div class="rightbox">
		<img class="cover" src="./assets/cover01.jpg">
	</div>
</div>

