<div class="leftbox subpage">
	<p class="subtitle animated fadeInDown">RESUME</p>
	<a href="https://docs.google.com/document/d/1DZtW42S_VIDmMpT9vNVkg_1gaExFg7k2seieqYF61Z4/export?format=pdf"><li>Download</li></a>
	<!-- <li>Print</li> -->
</div>

<div class="rightbox subpage" ng-class="{expanding:vm.expand}">
	<img ng-click="vm.exit()" class="cancel" src="/assets/cancel.png">
	<div class="subcontent">
		<iframe src="https://docs.google.com/document/d/1DZtW42S_VIDmMpT9vNVkg_1gaExFg7k2seieqYF61Z4/pub?embedded=true"></iframe>
	</div>

</div>

